* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

body {
    font-family: helvetica;
    margin:0 auto;
    width:1120px;
}

.title {
    background-color:#33BEBE;
    padding: 30px 0px 5px 10px;
    color:white;
    font-weight:lighter;
    margin-bottom:40px;
}

h1.title {
    font-size:2.5rem;
    font-weight:200;
    text-transform:uppercase;
}

.app {
    display:-webkit-flex;
    display:flex;
}

.description {
   color: #7c8b88;
    font-weight: 300;
    line-height: 1.4rem;
    max-width: 705px;
    font-size: 1.2rem;
    letter-spacing: .03rem;
}

.image {
    max-width:460px;
    margin-right:20px;
}

